<div class="about-us">
    <div class="about-us-upper-text">
        <div class="main-heading">
            <h1>About us</h1>
        </div>
        <div class="main-heading-text">
            <p>We Provide You The Best Imported White Powder And Gypsum Lumps</p>
        </div>
    </div>
    <div class="about-us-first-paragraph">
        <div class="about-us-paragraph-text">
            <p>
                Shri Balaji Plasters is Leading Importer of Gypsum Powder Started in Pune, Shri Balaji Plasters has Expanded business to all over India and has emerged as a strong leader in import of Gypsum Powder. Started in 2013, “Shri Balaji Plasters” has earned an outstanding reputation as the supplier of best quality Gypsum Powder, Plaster of Paris, Gypsum Bond-Plus Gypsum Boards and other Gypsum Products for construction industry.
            </p>
        </div>
    </div>
    <div class="second-paragraph">
        <div style="text-align: center;" class="second-paragraph-text">
            <p>
                Over the years we have been able to distinguish ourselves as a leading supplier by
        constantly defining and refining excellence in products, process and customer care.
            </p>
        </div>
    </div>
    <div class="third-paragraph">
        <div style="text-align: center;" class="third-paragraph-text">
            <p>
                In our zeal to expand our wings and cater to the constant demand from clients, we are engaged in the Import and
        Distribution of :
            </p>
        </div>
    </div>
    <div class="fourth-paragraph">
        <div style="text-align: center;" class="fourth-paragraph-text">
            <p>
                Gypsure Plus Gypsum Powder (White Gypsum)<br>
        Gypsure Bond Plus (Green)<br>
        Gypsure Bond 151 (White)    
            </p>
        </div>
    </div>
    <div class="upper-gradient-circle"></div>
</div>

<section class="below-section">
    <div class="how-it-works">
        <h1>How It Works?</h1>
    </div>
    <div class="content-div-count">
        <div class="content-divs-count one">01</div>
        <div class="content-divs-count two">02</div>
        <div class="content-divs-count three">03</div>
    </div>
    <div class="content-div">
        <div class="content-divs">
            <p>Tell Us Your Requirement
                through Contact Us Form</p>

            <a class="contact-button" routerLink="../contactUs" color="warn" mat-button>Contact Us</a>
        </div>
        <div class="content-divs">
            <p>We Will Contact You with
                Quotation For The Inquired
                Product</p>
        </div>
        <div class="content-divs">
            <p>Once Everything Is Finalised
                We Deliver Your Material
                To You</p>
        </div>
    </div>

    <div class="below-section-circle"></div>
    <div class="below-section-circle"></div>
    <div class="below-section-circle"></div>
    <div class="below-section-circle"></div>
</section>

