.flexExpand{
    flex: 1 1 auto;
}

mat-toolbar a{
    margin: 10px;
    margin-left: 35px;
}
mat-toolbar{
    position: relative;
    background-color: rgb(255, 255, 255);
}

.active::after{
    display: block;
    content: '';
    width: 50px;
    height: 1px;
    background-color: black;
}

.contact-button{
    border-radius: 20px !important;
}

/* .active{
    background-color: black;
} */