<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">

<div class="slides-image">
    <div id="slider">
        <figure>
            <img src="../../assets/images/Gallery-Image-3.jpeg" alt>
            <img src="../../assets/images/Gallery-Image-4.jpeg" alt>
            <img src="../../assets/images/Gallery-Image-5.jpeg" alt>
            <img src="../../assets/images/Gallery-Image-6.jpeg" alt>
            <img src="../../assets/images/Gallery-Image-7.jpeg" alt>
            <img src="../../assets/images/Gallery-Image-8.jpeg" alt>

        </figure>
    </div>
</div>