<div class="upper-container">
    <div class="product-one-image">
        <img src="https://i.ibb.co/Z1t2ZRS/product-one.png" alt="">
    </div>
    <div class="vertical-bar"></div>
    <div class="product-on  y
    e-text-content">
        <div class="product-one-name">
            <h1>Gypsure Plus Gypsum Powder</h1>
        </div>
            <div class="product-one-text">
                <div class="product-one-text-container">
                    <p>HIGH Grade Superior Quality Imported Gypsum Powder</p>
                </div>
            </div>
            <div class="product-one-text">
                <div class="product-one-text-container">
                    <p>Gypsure Plus Gypsum Powder the Ultimate Gypsum 
                        Plaster is a light weight and Pure Gypsum Based Plaster 
                        suitable for hand and machine application for Internal wall and 
                        Partition surface including Brick, Block and Concrete.</p>
                </div>
                
            </div>
        
    </div>
</div>

<div class="lower-container-for-text">
    <p>It 
        consists essentially of Pure Gypsum Hemihydrates
         formulation with special additives to control application and 
        setting characteristics. After Drying, it gives brilliant white, smooth and Fine finish. Gypsure Plus Gypsum is premium 
        quality Gypsum Plaster, Asbestos free to improve the plaster's 
        handling, work ability and application. There is no need of any 
        additional coat of wall putty.</p>
</div>

<div class="text-reports-container">
    <div class="test-reports-heading"><h1>Test Reports</h1></div>
    <app-test-reports-product-one></app-test-reports-product-one>
</div>

<div class="advantages-of-gypsum">
    <div class="advantages-heading">
        <h1>ADVANTAGES OF GYPSUM PLASTERING</h1>
    </div>
    <div class="image-advantages">
        <img class="advantage-image" src="../../../assets/images/advantage-image.jpg" alt="">
        <img class="advantage-1" src="../../../assets/images/advantage-1.jpeg" alt="">
        <img class="advantage-2" src="../../../assets/images/advantage-2.jpeg" alt="">
    </div>
</div>