<div class="upper-container">
    <div class="product-one-image">
        <img src="https://i.ibb.co/Sr8YyRn/product-two.png" alt="">
    </div>
    <div class="vertical-bar"></div>
    <div class="product-one-text-content">
        <div class="product-one-name">
            <h1>Gypsure Bond Plus</h1>
        </div>
        <div class="product-one-text">
            <p>GYPSURE BOND PLUS is a bonding agent for 
                gypsum plaster that enables preparation of ceiling and wall 
                surfaces (especially RCC surfaces) within 24 hour
                 It completely eliminates the risk of de-bonding gypsum plaster 
                from low suction backgrounds viz Rcc surfaces (Aluminium 
                form work & ceilings). </p>
        </div>
    </div>
</div>

<div class="lower-container-for-text">
    <p>It eliminates hacking, roughing & 
        putting wire mesh on concrete surface, it is specially 
        formulated ready to use adhesive consist of organ resins with 
        attitives.</p>
</div>
<div class="lower-container-for-text">
    <p>
        GYPSURE BOND PLUS with its unique
        formulation of polymers. additives and sand fillers offers dual 
        benefits of mechanical and chemical bonding
    </p>
</div>

<div class="text-reports-container">
    <div class="test-reports-heading"><h1>Test Reports</h1></div>
    <app-test-reports-product-two></app-test-reports-product-two>
</div>

<div class="upper-container">
    
    <div class="product-one-text-content">
        <div class="product-one-name">
            <h1>Gypsure Bond 151</h1>
        </div>
        <div class="product-one-text">
            <p>GYPSURE BOND 151 is ready to apply single coat application with very strong chemical bond. No hacking 
                required on RCC Surface. Apply Gypsum Plaster with in 1 to 
                24 hours of GYPSURE BOND 151 application.
                </p>
        </div>
    </div>
    <div class="vertical-bar"></div>
    <div class="product-one-image">
        <img src="https://i.ibb.co/Sr8YyRn/product-two.png" alt="">
    </div>
</div>