<table class="table-content">
    <thead>
        <tr>
            <th>GYPSUM PLASTERING FEATURES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Low Cost and Affortable</td>
            <td>Compatiable with all paints</td>
        </tr>
        <tr>
            <td>The Product costs less than the cement plaster</td>
            <td>Gypsum  is compaitable with all kinds 
                of primer  and paints available in market</td>
        </tr>
        <tr>
            <td>Reduced Construction Time</td>
            <td><strong>Green Building</strong></td>
        </tr>
        <tr>
            <td>Significantly reduce the construction time. No nwater curing, wall ready for next process withing 72 hours.</td>
            <td>Make your building green be using Gypsum plaster. Save on long term electricity bills. This plaster gives additional points for LEED</td>
        </tr>
    </tbody>
</table>