<div class="main-div">
    <div class="content-div home-div-content">
        <div class="mainText">
            <h1>gyp<span>sure</span> plus</h1>
            <p>Design And<br> Construction</p>
        </div>
        <img class="background_image" src="https://i.ibb.co/28tnNn6/gyp-sure-background-image.png" alt="">
        <img class="newBackground" src="{{Image}}" alt="">
    </div>
    
    <div class="content-div about-us">
        <app-about-us></app-about-us>
    </div>

    <div class="content-div contact-div">
        <app-contact-us></app-contact-us>
    </div>

    <div class="content-div all-footer">
        <app-angular-footer></app-angular-footer>
    </div>
</div>

<button onclick=""></button>






