<table class="blueTable">
    <thead>
        <tr>
            <th>Technical Parameters</th>
            <th>Range/Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Drying Time</td>
            <td>1 Day</td>
        </tr>
        <tr>
            <td>Open time for plastering</td>
            <td>2 to 10 Days</td>
        </tr>
        <tr>
            <td>Coverage</td>
            <td>45-50 sqft.</td>
        </tr>
        <tr>
            <td>Ambient temp requirement</td>
            <td>5 to 45 C</td>
        </tr>
        <tr>
            <td>Pull our strength (failure load)</td>
            <td>&gt;1.01 Mpa</td>
        </tr>
    </tbody>
</table>
